<h1>This is my Library AppliCaTiOn SoftwarE (LACTOSE)</h1>
<p>LACTOSE is used to organize my library.</p>
<span><marquee behaviour="alternate" scrollamount="5"><blink><b><font color="red">N</font><font color="green">E</font><font color="blue">A</font><font color="cyan">T</font><font color="magenta">!</font></b></blink></marquee></span>
<span><marquee behaviour="alternate" scrollamount="10"><blink><b><font color="red">N</font><font color="green">E</font><font color="blue">A</font><font color="cyan">T</font><font color="magenta">!</font></b></blink></marquee></span>
<span><marquee behaviour="alternate" scrollamount="15"><blink><b><font color="red">N</font><font color="green">E</font><font color="blue">A</font><font color="cyan">T</font><font color="magenta">!</font></b></blink></marquee></span>
<span><marquee behaviour="alternate" scrollamount="20"><blink><b><font color="red">N</font><font color="green">E</font><font color="blue">A</font><font color="cyan">T</font><font color="magenta">!</font></b></blink></marquee></span>
